# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.func-rocket.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\staker\Desktop\func-rocket.csproj\.idea\.idea.func-rocket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
